
body{
    background-color: aqua;
}

.estilo1{
    background-color:coral;
    color:darkslategrey;
    padding: 2em;
    margin: 1em;
    border-radius: 2em;
    font-weight: bold;
}
.estilo2{
    background-color: chartreuse;
    color: blue;
    padding: 2em;
    margin: 1em;
}
.imgStyle{
    margin-bottom: 20px;
    width: 100%;
    border: 5px solid;
    border-radius: 2em;
}